<!-- <form (ngSubmit)="onSubmit()" #userForm="ngForm" class="my-form">
  <div class="form-group">
    <label for="Server_DateTime" class="form-label">Server DateTime:</label>
    <input type="text" id="Server_DateTime" [(ngModel)]="Server_DateTime" name="Server_DateTime" class="form-input" >
  </div>
  <div class="form-group">
    <label for="DateTime_UTC" class="form-label">DateTime UTC:</label>
    <input type="text" id="DateTime_UTC" [(ngModel)]="DateTime_UTC" name="DateTime_UTC" class="form-input">
  </div>
  <div class="form-group">
    <label for="Update_DateTime_UTC" class="form-label">Update DateTime UTC:</label>
    <input type="text" id="Update_DateTime_UTC" [(ngModel)]="Update_DateTime_UTC" name="Update_DateTime_UTC" class="form-input" >
  </div>
  <div class="form-group">
    <label for="Username" class="form-label">Username:</label>
    <input id="Username" name="Username" type="text" [(ngModel)]="Username" class="form-input" required>
  </div>
  <div class="form-group">
    <label for="Email" class="form-label">Email:</label>
    <input type="text" id="Email" [(ngModel)]="Email" name="Email" required class="form-input">
  </div>
  <div class="form-group">
    <label for="First_Name" class="form-label">First Name:</label>
    <input type="text" id="First_Name" [(ngModel)]="First_Name" name="First_Name" required class="form-input">
  </div>
  <div class="form-group">
    <label for="Last_Name" class="form-label">Last Name:</label>
    <input type="text" id="Last_Name" [(ngModel)]="Last_Name" name="Last_Name" required class="form-input">
  </div>
  <div class="form-group">
    <label for="Status" class="form-label">Status:</label>
    <input type="number" id="Status" [(ngModel)]="Status" name="Status" required class="form-input">
  </div>
  <div class="form-group">
    <label for="Gender" class="form-label">Gender:</label>
    <input type="number" id="Gender" [(ngModel)]="Gender" name="Gender" required class="form-input">
  </div>
  <div class="form-group">
    <label for="Date_Of_Birth" class="form-label">Date Of_Birth:</label>
    <input type="text" id="Date_Of_Birth" [(ngModel)]="Date_Of_Birth" name="Date_Of_Birth" required class="form-input">
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="userForm.invalid" class="form-button">Submit</button>
  </div>
</form>


 -->
 <div class="my-form">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="form-group">
        <label for="Server_DateTime" class="form-label">Server DateTime:</label>
        <input type="text" id="Server_DateTime" [(ngModel)]="Server_DateTime" name="Server_DateTime" class="form-input" >
      </div>
      <div class="form-group">
        <label for="DateTime_UTC" class="form-label">DateTime UTC:</label>
        <input type="text" id="DateTime_UTC" [(ngModel)]="DateTime_UTC" name="DateTime_UTC" class="form-input">
      </div>
      <div class="form-group">
        <label for="Update_DateTime_UTC" class="form-label">Update DateTime UTC:</label>
        <input type="text" id="Update_DateTime_UTC" [(ngModel)]="Update_DateTime_UTC" name="Update_DateTime_UTC" class="form-input" >
      </div>
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" [(ngModel)]="Username" name="username" class="form-input" required>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" [(ngModel)]="Email" name="email" class="form-input" required>
    </div>
    <div class="form-group">
      <label for="firstName" class="form-label">First Name:</label>
      <input type="text" id="firstName" [(ngModel)]="First_Name" name="firstName" class="form-input" required>
    </div>
    <div class="form-group">
      <label for="lastName" class="form-label">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="Last_Name" name="lastName" class="form-input" required>
    </div>
    <div class="form-group">
      <label for="gender" class="form-label">Status:</label>
      <input type="number" id="gender" [(ngModel)]="Status" name="gender" required class="form-input">
    </div>
    <div class="form-group">
      <label for="gender" class="form-label">Gender:</label>
      <input type="number" id="gender" [(ngModel)]="Gender" name="gender" required class="form-input">
    </div>
    <div class="form-group">
      <label for="Date_Of_Birth" class="form-label">Date Of_Birth:</label>
      <input type="text" id="Date_Of_Birth" [(ngModel)]="Date_Of_Birth" name="Date_Of_Birth" required class="form-input">
    </div>
    <div>
      <button type="submit" class="form-button btn btn-success">
        {{ isUpdate ? 'Update' : 'Add' }} User
      </button>
    </div>
  </form>
</div>


